@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #575A5E;
  font-size: 16px;
  color: #F9ECCC;
  font-family: 'Ubuntu', sans-serif;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222823;
  padding: 12px;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 0 5px #00000088;
}

.title {
  font-size: 22px;
  cursor: pointer;
}

#top {
  display: flex;
}

.button:hover {
  color: #F9ECCC;
  cursor: pointer;
}

#game1, #box3 {
  margin: 15px;
  box-shadow: 0 0 5px #00000088;
  height: calc(100vh - 200px);
  display: flex;
  background-color: #222823;
  border-radius: 5px;
}

#game1 p, #game1 #speed {
  padding-left: 12px;
  user-select: none;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

.top-bar svg {
  fill: #F9ECCC;
}

.button:hover + #menu {
  display: block;
}

#menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: #222823;
  padding: 10px;
  margin-top: 3px;
  line-height: 2px;
  border-radius: 5px;
  justify-content: center;
  flex-direction: column;
  width: 10em;
  align-items: center;
  box-shadow: 0 0 5px #00000088;
  transition-duration: 0.6s;
}

.menu p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  background-color: #222823;
  border-radius: 0 0 5px 5px;
  text-align: center;
  box-shadow: 0 0 5px #00000088;
  padding: 15px 0;
  bottom: 0;
  width: 100%;
  position: fixed;
}

#under {
  margin-left: 12px;
  background-color: #222823;
  cursor: pointer;
}

#box3 {
  height: 50px;
}
